@font-face {
    font-family:"";
    src: url();
}
html{
    scroll-behavior: smooth;
}

body{
    -webskit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: #FAD7C2;
    color: #333333;
    align-items: center;
    padding: 0.0rem calc((87vw - 1200px) / 2);
}
.Displynone{
  display: none;
}
.logo a{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: context-menu;
    text-decoration: none;
    color: #333333;
}
.logo h1{
    padding: 1px 40px;
}
.sections a{
    font-size: 14px;
    text-decoration: none;
    font-weight: 900;
    padding: 1px 40px;
    letter-spacing: 0px;
    color: #333333;
}
.sections a:hover{
    color: aliceblue;
}
.none-upercase{
    text-transform: capitalize;
}
.home{
    background-image: url("https://source.unsplash.com/4l5fsRjJqLM");
        filter: grayscale(100%);
    background-color: #333333;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.0rem calc((87vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content{
    margin-top: 0px;
    padding: 0px 50px;
    line-height: 1;
}
.content h1{
    color: aliceblue;
    max-width: 40px;
    font-size: 89px;
}
.content a{
    color: #333333;
    font-size: 18px;
    background: aliceblue;
    text-decoration: none;
    padding: 15px 32px;
    border: none;
    transition: all 0.3s ease 0s;
    display: flex;
    text-align: center;
    border: 1px solid aliceblue;
}
.content a:hover{
    color: aliceblue;
    background: #333333;
    transition: all 0.3s ease 0s;
    display: flex;
    text-align: center;
}
.img{
    padding: 0.0rem calc((87vw - 1200px) / 2);
    background-color: #fad7c2;
}
.img-container{
    border: 0px solid #fff;
    position: relative;   
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img-container:nth-child(3){
    grid-row: 1 /3;
    grid-column: 1 /2;
}
.img-only {
    align-items: center;
    display: flex;
    justify-content: center;
}
.img-only img{
    width: 90%;
    height: 90%;
    border-radius: 3px;
}
.text h1{
    text-align: center;
    margin: 0px;
    padding: 0;
    font-size: 60px;
    color: #333333;
    border-top: 0px solid aliceblue;
}
.img-container .p1 {
    position: absolute;
    color: #333333;
    top: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.img-container .p2 {
    position: absolute;
    color: #333333;
    bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.contact{
        background: #333333;
        height: 450px;
        padding: 6rem calc((100vw - 1300px) / 2);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
}
.com-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.com-forms h1{
    text-align: center;
    margin-bottom: 1rem;
    cursor: context-menu;
    color: aliceblue;
    font-size: 60px;
}
.com-forms p{
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 5rem;
    cursor: context-menu;
    color: aliceblue;
    font-size: 20px;
}
.forms input{
    padding: 1rem 3rem;
    width: 200px;
    outline: none;
    border: none;
    margin-right: 1rem;
    border-radius: 0px;
}
.forms button{
    color: #333333;
    font-size: 13px;
    background: aliceblue;
    text-decoration: none;
    padding: 1rem 3rem;
    border: none;
    transition: all 0.3s ease 0s;
    border: 1px solid aliceblue;
    cursor: pointer;
}
.forms button:hover{
    color: aliceblue;
    background: #333333;
    transition: all 0.3s ease 0s;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAD7C2;
    color: #333333;
    padding: 0.0rem calc((87vw - 1200px) / 2);
}
footer a{
    font-size: 14px;
}
.logo h1{
    font-size: 16px;
}
a .algn1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-instagram {
    content: "\f16d";
    font-size: 16px;
    padding: 0px 9px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a .algn2{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){

    
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav.show {
    width: 20%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    background: #fad7c2;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: .9s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.Displynone{
  display: Block;
}




.navbar{
    display: grid;
    display: grid;
    justify-content: center;
    align-items: center;
    display: None;
}
.logo a{
    text-align: center;
}
.sections a{
    padding: 0px 30px;
}
.img-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.content h1{
    font-size: 39px;
}
.content a {
    font-size: 13px;
    padding: 12px 14px;
}
.img-only {
    align-items: center;
    display: flex;
    justify-content: center;
}
.forms form{
    /* display: flex; */
    flex-direction: column;
    /* padding: 0 1rem; */
}
footer {
    display: grid;
    display: grid;
    justify-content: center;
    align-items: center;
}
}
@media screen and (max-width: 1120px){
    .forms input{
        margin: 0px 0px 24px 0px;
        width: 260px;
    }
    form {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}


